.comicLikes {
  position:absolute;
  top:20px;
  right:20px;

  span {
    color: #FFF;
    font-size:20px;
    weight: 700;
    line-height:27px;
    vertical-align: top;
    margin-right:10px;
  }

  button {
    display:inline-block;
    width: 30px;
    height: 27px;
    border:0;
    transition: all 0.2s ease-in-out;
    background:transparent;
    background-position: center center;
    background-image: url("../../images/heart_off.png");
    
    &:hover {
      background-image: url("../../images/heart_hover.png");
    }
    &:disabled {
      background-image: url("../../images/heart_on.png");
    }
  }
}